
@font-face {
  font-family: 'Satoshi-Variable';
  src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
       url('fonts/Satoshi-Variable.woff') format('woff'),
       url('fonts/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-VariableItalic';
  src: url('fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('fonts/Satoshi-VariableItalic.woff') format('woff'),
       url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Light';
  src: url('fonts/Satoshi-Light.woff2') format('woff2'),
       url('fonts/Satoshi-Light.woff') format('woff'),
       url('fonts/Satoshi-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url('fonts/Satoshi-LightItalic.woff2') format('woff2'),
       url('fonts/Satoshi-LightItalic.woff') format('woff'),
       url('fonts/Satoshi-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Regular';
  src: url('fonts/Satoshi-Regular.woff2') format('woff2'),
       url('fonts/Satoshi-Regular.woff') format('woff'),
       url('fonts/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Italic';
  src: url('fonts/Satoshi-Italic.woff2') format('woff2'),
       url('fonts/Satoshi-Italic.woff') format('woff'),
       url('fonts/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Medium';
  src: url('fonts/Satoshi-Medium.woff2') format('woff2'),
       url('fonts/Satoshi-Medium.woff') format('woff'),
       url('fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('fonts/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('fonts/Satoshi-Bold.woff2') format('woff2'),
       url('fonts/Satoshi-Bold.woff') format('woff'),
       url('fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('fonts/Satoshi-BoldItalic.woff') format('woff'),
       url('fonts/Satoshi-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Black';
  src: url('fonts/Satoshi-Black.woff2') format('woff2'),
       url('fonts/Satoshi-Black.woff') format('woff'),
       url('fonts/Satoshi-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url('fonts/Satoshi-BlackItalic.woff2') format('woff2'),
       url('fonts/Satoshi-BlackItalic.woff') format('woff'),
       url('fonts/Satoshi-BlackItalic.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: italic;
}


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
  background: #0a0a09;
  /* background-image: url(../../assets/room.gif); */
}

header {
  
  /* background: rgba(248, 247, 247, 0.2); */
  width: auto;
  /* align-items: center; */
  height: 12.5vh;
  display: flex;
  /* width: 1729px; */
  /* height: 200px; */
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  flex-shrink: 0;
}

.navbar {
  /* position: sticky; */
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  margin: 0;
  /* position: absolute; */
  padding: 0.15rem;
}

header > .brand-title > h1 {
  /* display: inline-block; */
  /* margin: 0.25rem; */
  color: linear-gradient(to left, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20));
  text-align: left;
  font: 900 48px 'Satoshi-Variable', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > .brand-title > img {
  width: 10px;
  height: auto;
}

.navbar > .nav-btn {
  display: none;
}

.nav-bar {
  display: hidden;
}

.navbar > .nav-links {
  display: hidden !important;
  /* display: flex;  */
  font-size: 18px;
}

.navbar > .nav-links > a {
  display: inline-block;
  color: var(--color-dark-blue);
  margin: 1.5rem;
  text-decoration: none;
}

.navbar > .nav-links > a:hover {
  color: var(--color-light-blue);
  text-shadow: 0.05rem 0.05rem 0.15rem var(--color-light-blue);
}

.navbar > #nav-check {
  display: none;
}

ul {
  list-style: none;
}

ul li a {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font: 900 48px 'Satoshi-Variable', sans-serif;
  color: var(--color-dark-blue);
  font-size: 1.2rem;
  list-style: none;
  margin: 0.5rem 2rem;
  text-decoration: none;
}

ul li a:hover {
  color: var(--color-light-blue);
  text-shadow: 0.05rem 0.05rem 0.15rem var(--color-light-blue);
}

.logo {
  padding: 1rem;
  /* margin-left: 2rem; */
  min-width: 315px;
  width: 20vw;
}

@media screen and (min-width: 600px) {
  .brand-title2 {
    display: none;
  }

  header > .navbar {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  header > .brand-title {
    /* display: none; */
    /* width: 20%; */
    position: absolute;
  }
  header > .brand-title2 {
    display: inline-block;
  }
  header > .brand-title2 > img {
    width: 10rem;
    height: auto;
    left: 2rem;
    display: inline-block;
  }
  .navbar > .nav-btn {
    display: inline-block;
  }
  .navbar > .nav-btn > label {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 20px;
  }
  .navbar > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .navbar > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 12.5vh;
    left: 0px;
    z-index: 99;
  }

  nav > .nav-links > a {
    display: block;
    width: 100%;
    padding: 13px 10px 13px 10px;
  }
  nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
